html body{
  font-family: "HarmonyOS", "Roboto", "PingFang SC", "-apple-system", "BlinkMacSystemFont", "Arial", sans-serif;
}
.pp-box {
  max-width: 1472px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto
}
