@import "base";

.hover_opacity{
  &:hover{
    cursor: pointer;
    opacity: 0.7;
  }
}

.wrap_one{
  width: 100%;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// @import "quill/quill.core.css";
// @import "quill/quill.snow.css";
// @import "quill/quill.custom.css";