@primary-background-color: #E9ECF7;
@main-background-color: #333A5D;
@first-level-color: #F5F6FC;
@second-level-color: #5272E9;

@album-color: #6067FF;
@mbox-color: #FF9261;
@brand-color: #43F6AC;
@creator-color: #6841EC;
@link-color: #16BBF3;
